absl-py==2.4.0
ackermann-msgs==2.0.2
action-msgs==1.2.3
actionlib-msgs==4.9.1
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
apriltag-msgs==2.0.2
aruco-msgs==5.0.5
aruco-opencv-msgs==2.4.2
bond==4.1.4
builtin-interfaces==1.2.3
camera-calibration==3.0.9
carla==0.9.15
composition-interfaces==1.2.3
contourpy==1.3.2
control-msgs==4.9.0
controller-manager==2.54.0
controller-manager-msgs==2.54.0
cuda-bindings==13.3.1
cuda-pathfinder==1.5.6
cuda-toolkit==13.0.2
cv-bridge==3.2.1
cycler==0.12.1
diagnostic-aggregator==4.0.7
diagnostic-msgs==4.9.1
diagnostic-updater==4.0.7
domain-coordinator==0.10.0
dwb-msgs==1.1.20
example-interfaces==0.9.3
filelock==3.29.4
fonttools==4.63.0
fsspec==2026.6.0
gazebo-msgs==3.9.0
generate-parameter-library-py==0.7.4
geographic-msgs==1.0.6
geometry-msgs==4.9.1
grid-map-msgs==2.0.1
grpcio==1.81.1
image-geometry==3.2.1
interactive-markers==2.3.2
Jinja2==3.1.6
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
kiwisolver==1.5.0
laser-geometry==2.4.1
launch==1.0.14
launch-param-builder==0.1.1
launch-pytest==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
lifecycle-msgs==1.2.3
map-msgs==2.1.0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.9
message-filters==4.3.18
-e git+https://github.com/omarcavazosgzz/MiniFSD.git@215ff002645b5b71bbc3c2bc4779ab38ec453b1d#egg=minifsd
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
mpmath==1.3.0
nav-2d-msgs==1.1.20
nav-msgs==4.9.1
nav2-common==1.1.20
nav2-msgs==1.1.20
nav2-simple-commander==1.0.0
networkx==3.4.2
numpy==2.2.6
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.20.0.48
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.29.7
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
opencv-python==5.0.0.93
osrf-pycommon==2.1.6
packaging==26.2
pandas==2.3.3
pcl-msgs==1.0.0
pillow==12.3.0
protobuf==7.35.1
pygame==2.6.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
pytz==2026.2
PyYAML==6.0.3
qt-gui==2.2.5
qt-gui-cpp==2.2.5
rcl-interfaces==1.2.3
rclpy==3.3.21
rcutils==5.1.8
realsense2-camera-msgs==4.58.2
resource-retriever==3.1.3
rmw-dds-common==1.6.0
robot-localization==3.5.4
ros2bag==0.15.16
ros2cli==0.18.18
ros2controlcli==2.54.0
ros2launch==0.19.13
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2run==0.18.18
ros2service==0.18.18
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.3
rosidl-adapter==3.1.9
rosidl-cli==3.1.9
rosidl-cmake==3.1.9
rosidl-generator-c==3.1.9
rosidl-generator-cpp==3.1.9
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.12
rosidl-parser==3.1.9
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.9
rosidl-typesupport-introspection-cpp==3.1.9
rpyutils==0.2.2
rqt-gui==1.1.9
rtabmap-msgs==0.23.7
rtabmap-python==0.1.0
scipy==1.15.3
scripts==3.9.0
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
six==1.17.0
slam-toolbox==2.6.10
smclib==4.1.4
srdfdom==2.0.7
statistics-msgs==1.2.3
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.20
tf2-kdl==0.25.20
tf2-msgs==0.25.20
tf2-py==0.25.20
tf2-ros-py==0.25.20
tf2-sensor-msgs==0.25.20
theora-image-transport==2.5.5
torch==2.12.1
torchaudio==2.11.0
torchvision==0.27.1
tqdm==4.68.3
trajectory-msgs==4.9.1
triton==3.7.1
typing_extensions==4.16.0
tzdata==2026.2
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
velodyne-msgs==2.5.1
vision-msgs==4.1.1
visualization-msgs==4.9.1
Werkzeug==3.1.8
xacro==2.1.1
